//colors
$cBaseBlue: #95eefb;
$cDarkBlue: #114f71;
$cAccentGreen: #94fd16;
$cCodemirrorBG:#272822;

//font size
$fsButtonNormal: 19px;

//border-radius
$brButtonNormal: 8px;

//measurements
$mLogoHeight: 150px;
$mContainerHeight: 800px;

//fonts
$fMain: "Rajdhani", "Mangal", sans-serif;